{
.appVersion = "3151";
.formatVersion = 3;
date = "2023-03-28 10:57:03 +0000";
familyName = "New Font";
fontMaster = (
{
id = m01;
metricValues = (
{
over = 16;
pos = 800;
},
{
over = 16;
pos = 700;
},
{
over = 16;
pos = 500;
},
{
over = -16;
},
{
over = -16;
pos = -200;
}
);
name = Regular;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
unitsPerEm = 1000;
userData = {
GSDimensionPlugin.Dimensions = {
m01 = {
nV = "100";
nd = "80";
oH = "80";
oV = "100";
};
};
};
versionMajor = 1;
versionMinor = 0;
}
